body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
}

#iframe_container{
    height: 300px;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: top;
    display: grid;
    grid-template-rows: auto auto;

    margin-top: 30px;

    display: none;
}
iframe{
    display: block;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 600px;
    width: 800px;
    overflow: hidden;
    border: none;
    position: relative;
    z-index: 1;
    zoom: 0.5;
    filter: drop-shadow(-15px -10px 2px rgba(0, 0, 0, 0.8));
    margin-top: 20px;

}
#iframe_container div{
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}


#tab_1{
    display: flex;
}

#sub_tab{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
}


#mobile_view {
    height: fit-content;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

#mobile_view #img_container {
    position: relative; /* Set relative position to enable absolute positioning within */
    width: auto;
    
    display: flex;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#mobile_view #img_container #img_subcontainer {
    position: relative; /* Set relative position to enable absolute positioning within */
    width: 100%;
    background-color: rgb(105, 105, 105);
    display: flex;
    height: fit-content;
    box-shadow: inset 0px 0px 50px 20px;
    overflow: hidden;
    
}

#mobile_view #img_container #img_subcontainer #my_pic {
    width: auto;
    height: 70vh;
    transform: scaleX(-1);
    filter: drop-shadow(-15px -10px 2px rgba(0, 0, 0, 0.8));
    z-index: 2;
}

#mobile_view #img_container #img_subcontainer .img_text {
    position: absolute; /* Overlay text */
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    color: rgb(255, 255, 255);
    display: block;
    
    font-size: 45px;

    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-style: normal;

    width: 100%;
    height: 100%;

    text-shadow: -5px 5px  5px #000000;

    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    
}

#mobile_view #img_container #img_subcontainer .img_text div{
    margin: 20px;
}



.hide_img_text {
    z-index: 1;
}

.show_img_text {
    z-index: 3;
    
}

.round_corners_25{
    border-radius: 25px;
}


.img_sides{
    height: 100%;
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: relative;
    z-index: 5;
}




