.background_color1{
    background-color: #3b8cd8
}
.background_color2{
    background-color: #333;
}
.background_color3{
    background-color: rgb(92, 92, 92);
}
.font_size1{
    font-size: 100px;
}
.font_size2{
    font-size: 75px;
}
.font_size3{
    font-size: 50px;
}
.font_family1{
    font-family: 'Courier New', monospace;
}
.font_family2{
    font-family: sans-serif;
}
.font_family3{
    font-family: Brush Script MT
}

.white_leters{
    color: white;
}
.blue_leters{
    color: #3b8cd8;
}
.red_leters{
    color: #961b2c;
}
.center_text{
    text-align: center;
}
.contact{
    margin: 5% 5%;
    border-radius: 25px;
}
.contact_container{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.contact_container span:hover{
    color: #3b8cd8;
}
.contact_elemetn{
    text-decoration: none;
    color: white;
}
.my_worck_container{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto;
}
.my_worck_element{
    padding: 3% 0% 3% 0%;
    position: relative;
}
.my_worck_element img{
    display: block;
    transition: transform .3s;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}
.my_worck_element img:hover{
    box-shadow: -13px 13px 11px 0px rgba(0,0,0,0.8);
    transform: scale(1.1);
    cursor: pointer;
}
.my_worck_element a{
    display: block;
    padding-top: 3%;
}
body{
    margin:0;
    display: block;
}
#header_text{
    visibility: hidden
}  
#navbar {
    /*overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;*/
    position: sticky;
    top: 0;
    z-index: 1;
  }
#navbar a {
    margin: 1%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar a.active {
    background-color: #3b8cd8;
    color: white;
}
#navbar a:hover {
    background-color: #3273b1;
}
.contact{
    padding-top: 3%;
    padding-bottom: 7%;
    box-shadow: -13px 13px 11px 0px rgba(0,0,0,0.8);
}
.contact h1{
    text-shadow: 2px 2px 10px #000000;
}
.contact #subtitle{
    padding-bottom: 7%;
}
.header {
    /*
    padding: 15%;
    background-image: url("screens2.png");
    background-position:  top top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;*/
    position: relative;
    text-align: center;
}
.header img{
    margin: 0;
    width: 100%;
}
.header h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.footer {
    padding: 2%;
    text-align: center;
    height: 15%;
    color: white;
}
.go_to_top {
    position: fixed;
    bottom: 0;
    right: 1%;
  }


@media only screen and (max-width: 1400px) {
    .font_size1{
        font-size: 75px;
    }
    .font_size2{
        font-size: 55px;
    }
    .font_size3{
        font-size: 35px;
    }
}
@media only screen and (max-width: 1000px) {
    .font_size1{
        font-size: 55px;
    }
}
@media only screen and (max-width: 800px) {
    .font_size1{
        font-size: 35px;
    }
}
@media only screen and (max-width: 600px) {
    .font_size1{
        font-size: 20px;
    }
}
@media only screen and (max-width: 300px) {
    .font_size1{
        font-size: 10px;
    }

}